{% extends './plantilla.html' %}
{% block contenido %}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light p-4">
        <h1>Editar Envío</h1>
        <form action="/procesarEdicionEnvio" method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ envio.id }}">

            <label for="codigo">Código:</label><br>
            <input class="form-control" type="text" name="codigo" id="codigo" value="{{ envio.codigo }}" required> <br><br>

            <label for="origen">Origen:</label><br>
            <input class="form-control" type="text" name="origen" id="origen" value="{{ envio.origen }}" required> <br><br>

            <label for="destino">Destino:</label><br>
            <input class="form-control" type="text" name="destino" id="destino" value="{{ envio.destino }}" required> <br><br>

            <button class="btn btn-warning" type="submit">
                <i class="fa fa-pen"></i> Editar
            </button>

            <a class="btn btn-outline-danger" href="/envios">
                <i class="fa fa-times"></i> Cancelar
            </a>
        </form>
        <br>
    </div>
    <div class="col-md-3"></div>
</div>

{% endblock %}
