{% extends './plantilla.html' %}
{% block contenido %}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light">
        <h1>Editar Cliente</h1>
        <form action="/procesarEdicionCliente" method="post" id="frm_editar_cliente">
            {% csrf_token %}

            <input type="hidden" name="id" value="{{ cliente.id }}">

            <label for="nombre">Nombre:</label><br>
            <input class="form-control" type="text" name="nombre" id="nombre" value="{{ cliente.nombre }}"><br><br>

            <label for="telefono">Teléfono:</label><br>
            <input class="form-control" type="text" name="telefono" id="telefono" value="{{ cliente.telefono }}"><br><br>

            <label for="direccion">Dirección:</label><br>
            <input class="form-control" type="text" name="direccion" id="direccion" value="{{ cliente.direccion }}"><br><br>

            <label for="fecha_registro">Fecha de Registro:</label><br>
            <input class="form-control" type="date" name="fecha_registro" id="fecha_registro" value="{{ cliente.fecha_registro|date:'Y-m-d' }}"><br><br>

            <button class="btn btn-warning" type="submit">
                <i class="fa fa-pen"></i> Editar
            </button>

            <a class="btn btn-outline-danger" href="/clientes">
                <i class="fa fa-times"></i> Cancelar
            </a>
        </form>
        <br>
    </div>
    <div class="col-md-3"></div>
</div>

<script>
    $("#frm_editar_cliente").validate({
        rules: {
            "nombre": {
                required: true,
                minlength: 3,
                maxlength: 50
            },
            "telefono": {
                required: true,
                minlength: 7,
                maxlength: 15,
                digits: true // Solo permite números
            },
            "direccion": {
                required: true,
                minlength: 5,
                maxlength: 100
            },
            "fecha_registro": {
                required: true,
                date: true
            }
        },
        messages: {
            "nombre": {
                required: "Llene este campo con el nombre del Cliente",
                minlength: "Debe tener al menos 3 caracteres",
                maxlength: "No debe exceder 50 caracteres"
            },
            "telefono": {
                required: "Llene este campo con el numero correcto",
                minlength: "Debe tener al menos 7 dígitos",
                maxlength: "No debe exceder 15 dígitos",
                digits: "Solo se permiten números"
            },
            "direccion": {
                required: "Llene este campo con la direccion correcta",
                minlength: "Debe tener al menos 5 caracteres",
                maxlength: "No debe exceder 100 caracteres"
            },
            "fecha_registro": {
                required: "Llene este campo con la Fecha de registro",
                date: "Ingrese una fecha válida"
            }
        }
    });
</script>


{% endblock %}
