{% extends './plantilla.html' %}
{% block contenido %}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light p-4">
        <h1>Nuevo Registro de Envío</h1>
        <form action="/guardarRegistro" method="post" id="frm_nuevo_registro" >
            {% csrf_token %}
            
            <label for="cliente_id">Cliente:</label><br>
            <select class="form-control" name="cliente_id" id="cliente_id" required>
                <option value="" disabled selected>Seleccione un cliente</option>
                {% for cliente in clientes %}
                    <option value="{{ cliente.id }}">{{ cliente.nombre }}</option>
                {% endfor %}
            </select> <br> <br>

            <label for="envio_id">Envío:</label><br>
            <select class="form-control" name="envio_id" id="envio_id" required>
                <option value="" disabled selected>Seleccione un envío</option>
                {% for envio in envios %}
                    <option value="{{ envio.id }}">{{ envio.codigo }}</option>
                {% endfor %}
            </select> <br> <br>

            <label for="conductor">Conductor:</label><br>
            <input class="form-control" type="text" name="conductor" id="conductor" required> <br> <br>

            <label for="estado_viaje">Estado:</label><br>
            <input class="form-control" type="text" name="estado_viaje" id="estado_viaje" required> <br> <br>

            <button class="btn btn-success" type="submit">Guardar</button>
            <a class="btn btn-outline-danger" href="/registros">Cancelar</a>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>



<!-- Embeber codigo javascript/jquery dentro del HTML -->
<script>
    $("#frm_nuevo_registro").validate({
        rules: {
            "cliente_id": {
                required: true,
                minlength: 5,
                maxlength: 20
            },
            "envio_id": {
                required: true
            },
            "conductor": {
                required: true,
                minlength: 3,
                maxlength: 50
            },
            "estado_viaje": {
                required: true
            }
        },
        messages: {
            "cliente_id": {
                required: "Llene este campo con el id del cliente",
                minlength: "Debe tener al menos 5 caracteres",
                maxlength: "No debe exceder 20 caracteres"
            },
            "envio_id": {
                required: "Llene este campo con el id del envio"
            },
            "conductor": {
                required: "Llene este campo con el nombre del conductor",
                minlength: "Debe tener al menos 3 caracteres",
                maxlength: "No debe exceder 50 caracteres"
            },
            "estado_viaje": {
                required: "Llene este campo con el estado del envio"
            }
        }
    });
</script>



{% endblock %}
