{% extends './plantilla.html' %}
{% block contenido %}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light">
        <h1>Nuevo Envío</h1>
        <form action="/guardarEnvio" method="post" id="frm_nuevo_envio" >
            {% csrf_token %}
            <label for="">Código:</label><br>
            <input class="form-control" type="text" name="codigo" id="codigo"> <br> <br>
            <label for="">Origen:</label><br>
            <input class="form-control" type="text" name="origen" id="origen"> <br> <br>
            <label for="">Destino:</label><br>
            <input class="form-control" type="text" name="destino" id="destino"> <br> <br>
            <button class="btn btn-success" type="submit">Guardar</button>
            <a class="btn btn-outline-danger" href="/envios">Cancelar</a>
        </form>
        <br>
    </div>
    <div class="col-md-3"></div>
</div>



<!-- Embeber codigo javascript/jquery dentro del HTML -->
<script>
    $("#frm_nuevo_envio").validate({
        rules: {
            "codigo": {
                required: true,
                minlength: 5,
                maxlength: 20
            },
            "origen": {
                required: true,
                minlength: 3,
                maxlength: 50
            },
            "destino": {
                required: true,
                minlength: 3,
                maxlength: 50
            }
        },
        messages: {
            "codigo": {
                required: "Llene este campo con el codigo",
                minlength: "Debe tener al menos 5 caracteres",
                maxlength: "No debe exceder 20 caracteres"
            },
            "origen": {
                required: "Llene este campo con el nombre del origen del envio",
                minlength: "Debe tener al menos 3 caracteres",
                maxlength: "No debe exceder 50 caracteres"
            },
            "destino": {
                required: "llene este campo con el nombre del destino del envio",
                minlength: "Debe tener al menos 3 caracteres",
                maxlength: "No debe exceder 50 caracteres"
            }
        }
    });
</script>



{% endblock %}
