{% extends './plantilla.html' %}
{% block contenido %}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light">
        <h1>Nuevo Envío</h1>
        <form action="/guardarEnvio" method="post">
            {% csrf_token %}
            <label for="">Código:</label><br>
            <input class="form-control" type="text" name="codigo" id="codigo"> <br> <br>
            <label for="">Origen:</label><br>
            <input class="form-control" type="text" name="origen" id="origen"> <br> <br>
            <label for="">Destino:</label><br>
            <input class="form-control" type="text" name="destino" id="destino"> <br> <br>
            <button class="btn btn-success" type="submit">Guardar</button>
            <a class="btn btn-outline-danger" href="/envios">Cancelar</a>
        </form>
        <br>
    </div>
    <div class="col-md-3"></div>
</div>

{% endblock %}
